name: bar
anchor_to_edges: true
position: top
height: 24
start:
  - type: workspaces
  - type: bluetooth
    icon_size: 32
    format:
      not_found: ""
      disabled: " Off"
      enabled: " On"
      connected: " {device_alias}"
      connected_battery: " {device_alias} • {device_battery_percent}%"
    popup:
      max_height:
        devices: 5
      header: " Enable Bluetooth"
      disabled: "{adapter_status}"
      device:
        header: "{device_alias}"
        header_battery: "{device_alias}"
        footer: "{device_status}"
        footer_battery: "{device_status} • Battery {device_battery_percent}%"
    adapter_status:
      not_found: "No Bluetooth adapters found"
      enabled: "Bluetooth enabled"
      enabling: "Enabling Bluetooth..."
      disabled: "Bluetooth disabled"
      disabling: "Disabling Bluetooth..."
    device_status:
      connected: "Connected"
      connecting: "Connecting..."
      disconnected: "Disconnect"
      disconnecting: "Disconnecting..."
  - type: custom
    name: wifi
    class: network
    bar:
      - type: button
        name: wifi-label
        label: "{{~/.config/ironbar/scripts/wifi-name}}"
        on_click: "!ghostty -e impala"
  - type: music
    player_type: mpris
    format: "󰝚 {title} / {artist}"
    truncate:
      mode: end
      max_length: 20
      show_status_icon: false
    icons:
      play: ""
      pause: "󰏥"
      prev: "󰙣"
      next: "󰙡"
      volume: "󰕾"
center:
  - type: focused
    icon_size: 16
    truncate:
      mode: "end"
      max_length: 50
end:
  - type: volume
    format: "{icon} {percentage}%"
    max_volume: 100
    #truncate: 'middle'
    marquee:
      enable: true
      on_hover: "play"
    icons:
      volume_high: "󰕾"
      volume_medium: "󰖀"
      volume_low: "󰕿"
      muted: "󰝟"
  - type: sys_info
    format:
      - " {cpu_percent: <2}% {temp_c@mean}°C"
      - " {memory_percent}%"
    interval:
      cpu: 1
      memory: 30
      temps: 5
      networks: 3
  - type: script
    class: gpu
    mode: poll
    interval: 5000
    cmd: "~/.config/ironbar/scripts/nvidia-gpu"
  - type: tray
  - type: clock
    format: "%Y/%m/%d %H:%M"
  - type: battery
    format: "{percentage}%"
    thresholds:
      critical: 5
      warning: 20
  - type: custom
    name: power-menu
    class: power_menu
    bar:
      - type: button
        name: power-btn
        label: 
        on_click: popup:toggle
    popup:
      - type: box
        orientation: vertical
        widgets:
          - type: label
            name: header
            label: Power menu
          - type: box
            name: buttons
            widgets:
              - type: button
                class: power-btn
                label: <span>󰐥</span>
                on_click: "!shutdown now"
              - type: button
                class: power-btn
                label: <span>󰜉</span>
                on_click: "!reboot"
#  - type: notifications
#    show_count: true
#    icons:
#      closed_none: 󰍥
#      closed_some: 󱥂
#      closed_dnd: 󱅯
#      open_none: 󰍡
#      open_some: 󱥁
#      open_dnd: 󱅮
